* {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
}

html{
    background-image: url("/imagenes/fondo.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;

}

.logo {
    padding-top: 10px;
    margin-left: 10px;
    width: 10%;
}

main{
    display: flex;
    margin-bottom: 50px;
    margin-left: 80px;
}

.panelIzquierdo{
    text-align: center;
    background-image: url("/imagenes/fondo-seccion-izq.png");
    background-size: 685px;
    height: 745px;    
    align-items: center;
}

.titulo {
    padding-top: 170px;
    color: #AE9A6C;
    font-family: 'Carter One', cursive;
}
.texto {
    background-color: transparent;
    border: none;
    color: #AE9A6C;
    margin-right: auto;
    font-size: 22px;
    margin-top: 19px;
    padding: 0 10px;
    text-transform: lowercase;
    resize: none;
}

.texto::placeholder { 
    color: #AE9A6C;
}

.texto:focus {
    outline: none;
}


.panelDerecho{
    text-align: center;
    background-image: url("/imagenes/fondo-seccion-der2.png");
    background-size: contain;
    width: 350px;
    height: 742px;    
    align-items: center;
    margin-left: 90px;
}

.mensaje {
    background: transparent;
    background-image: url("/imagenes/cryptex.png");
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    color: #AE9A6C;
    margin-left: 8px;
    margin-top: 150px;
    height: 380px;   
    font-size: 18px;
    padding-left: 10px;
    resize: none;
}
.mensaje:focus {
    outline: none;
}

.botones{
    display: flex;
    margin: 45px 170px;    
}

.encriptar {
    background: #202923;
    border: 1px solid #202923;
    border-radius: 24px;
    color: #AE9A6C;
    font-size: 20px;
    cursor: pointer;
    height: 40px;
    width: 160px;
}
.desencriptar {
    background: #596D5B;
    border: 1px solid #202923;
    border-radius: 24px;
    color: #AE9A6C;
    font-size: 20px;
    cursor: pointer;
    height: 40px;
    margin-left: 20px;
    width: 160px;
}



.copiar {
    border: 1px solid #202923;
    background: #596D5B;
    border-radius: 24px;
    color: #AE9A6C;
    cursor: pointer;
    height: 40px;
    font-size: 20px;
    margin-left: 0px;
    margin-top: 20px;
    width: 160px;
}

.informacion {
    color: #AE9A6C;
    font-size: 12px;
    margin:  25px 210px;
}
